.formatPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    margin: 100px;
}

.boxReset {
    width: 300px;
    height: 250px;

    border-radius: 20px;
    border: #F15124;
    border-width: 2px;
    border-style:solid;

    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.forms {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

label {
    margin-bottom: 5px;
}

.btResetPass {
    margin-top:10px;

    border-radius: 5px;
    
    background-color: #F15124;
    border-color: #F15124;
    color: white;

    height: 30px;
    width: 200px;
}
