/* src/components/TelaClient/BoxClient/BoxClient.module.css */

.BoxClient {
  width: 80%;
  height: 100%;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #F15124;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.form {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.BoxClient label {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.BoxClient input,
.BoxClient select {
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.BoxClient button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #F15124;
  color: white;
  cursor: pointer;
}

.BoxClient button:hover {
  background-color: #e03e00;
}

.childRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.childRow label {
  margin-right: 10px;
  flex: 1;
}

.childRow input {
  margin-left: 5px;
  flex: 1;
}

/* src/components/TelaClient/BoxClient/BoxClient.module.css */

.iframeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.iframeContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

/* CNHSelector Styles */

.cnhSelector {
  display: flex;
  flex-direction: column;
}

.cnhSelector label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cnhSelector input[type="checkbox"] {
  margin-right: 10px;
}

.cnhSelector .cnhOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cnhSelector button {
  background-color: #e03e00;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cnhSelector button:hover {
  background-color: #e03e00;
}

.cnhSelector button:last-child {
  background-color: #6c757d;
}

.cnhSelector button:last-child:hover {
  background-color: #5a6268;
}
