
.telalogin {
  display: flex;
  width: 100vw;
  height: 100vh; 
}

.telalogin .item1 {
<<<<<<< HEAD
  background-color: rgb(255, 255, 255);
=======
  flex: 1;
  background-color: rgb(62, 80, 200);
  display: flex;
  flex-direction: column;
>>>>>>> 9b1b3940b37d53837059411e83a7f9b115ffae18
  padding: 2rem;
}

.telalogin .item2 {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

