.NavigatePanel_bg {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    font-family: Inter;
}

.button, .buttonConfig {
    cursor: pointer;
    border-color: rgb(240, 136, 136) ;
    background-color: #F15124;
    border-radius: 10px;
    padding: 12px 15px;
    text-transform: uppercase;
    color: white; /* Texto branco para contraste */
    font-weight: bold; /* Deixa o texto mais destacado */
    font-family: Inter;
}

.NavigatePanelContainer {
    height: 100vh;
    width: 250px;
    background-color: #ffffff; /* Fundo escuro elegante */
    text-align: center;
    justify-items: center;
}


.buttonsContainer {
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-self: center;
    gap: 25px;
    margin: 0 auto;
}

.buttonConfig{
    margin-top: 50%;
}