.TelaCalculadora{
    width: 100vw;
    height: 100vh; 
}

.container {
    display: flex;
    background-color: #ECE6F0;
}

.container2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:  column;
}
