.container {
    display: flex;
}

.item1{
    width: 400px;
    height: 1080px;
    top: 1050px;
    left: 76px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}

.item2{
    width: auto;
    height: 105px;
    top: 1050px;
    left: 457px;
    gap: 0px;
    opacity: 0px;
    
}

.TelaDashboard{
    background-color: #ECE6F0;
}

