.background {
    top :0;
    width: 100%;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: black;
}

.banner {
    width: 500px; 
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
