.forms {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: Inter;
}
.forms h1{
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 10px;

    text-align: center;
}
.forms p{
    opacity: 0.5;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
}

.forms .textinputs{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
}
.forms .textinputs input{
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 20px;
    border-color: rgb(240, 136, 136) ;
}

input::placeholder {         
    font-size: 18px;
    padding: 10px;
    opacity: 0.75;   
}
.forms .textinputs label{
    font-size: 17px;
    padding: 10px;
}
.forms .links{
    display: flex;
    justify-content: space-between; 
}
.forms .links a{
    text-decoration: none;
    color: #F15124;
}


.forms .buttonsLogin button{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.buttonsLogin .btlogin{
    border-radius: 20px;
    background-color: #F15124;
    border-color: rgb(240, 136, 136) ;
    color: white;
}

.forgotPassword {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
  }
  
  .forgotPassword:hover {
    color: darkblue;
  }

  
 