.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
    height: 100%;
    background-color: brown;

}
.footer h1{
    font-size: 40px;
}
.footer p{
    opacity: 0.75;
    margin-top: 0;
}
.footer forms {
    display: flex;
    flex-direction: column;
}
.footer .textinputs{
    display: flex;
    flex-direction: column;
}
.footer .textinputs input{
    border-radius: 50px;
    height: 2rem;
}
.footer .links{
    display: flex;
    display: inline;
    align-items: self-end;
}
.footer .links a{
    text-decoration: none;
    color: aqua;
}